# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.egg
*.egg-info
dist
build
# Mac
.DS_Store
.AppleDouble
.LSOverride
.DS_Store

#idea
.idea/
*.iml

#java
*.class
target/
#config
settings*
